USE [master]
GO
/****** Object:  Database [BDGestionAcademicaDW]    Script Date: 17/12/2021 9:52:46 ******/
CREATE DATABASE [BDGestionAcademicaDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDGestionAcademicaDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDGestionAcademicaDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDGestionAcademicaDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDGestionAcademicaDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDGestionAcademicaDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDGestionAcademicaDW]
GO
/****** Object:  Table [dbo].[DIM_Asignatura]    Script Date: 17/12/2021 9:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Asignatura](
	[IdAsignatura] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[NHoras] [int] NULL,
	[IdCarrera] [int] NULL,
 CONSTRAINT [PK_DIM_Asignatura] PRIMARY KEY CLUSTERED 
(
	[IdAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Carrera]    Script Date: 17/12/2021 9:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Carrera](
	[IdCarrera] [int] NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[NombrePlan] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIM_Carrera] PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Docente]    Script Date: 17/12/2021 9:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Docente](
	[IdDocente] [int] NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIM_Docente] PRIMARY KEY CLUSTERED 
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Estudiante]    Script Date: 17/12/2021 9:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Estudiante](
	[IdEstudiante] [int] NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIM_Estudiante] PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Grupos]    Script Date: 17/12/2021 9:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Grupos](
	[IdGrupo] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIM_Grupos] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_Historial]    Script Date: 17/12/2021 9:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_Historial](
	[IdNota] [int] NOT NULL,
	[IdMatricula] [int] NULL,
	[IdEstudiante] [int] NULL,
	[IdDocente] [int] NULL,
	[IdAsignatura] [int] NULL,
	[Acumulado] [float] NULL,
	[Examen] [float] NULL,
	[IdGrupo] [int] NULL,
	[IdCarrera] [int] NULL,
	[NotaFinal] [float] NOT NULL,
 CONSTRAINT [PK_FACT_Historial] PRIMARY KEY CLUSTERED 
(
	[IdNota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACT_Historial]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Historial_DIM_Asignatura] FOREIGN KEY([IdAsignatura])
REFERENCES [dbo].[DIM_Asignatura] ([IdAsignatura])
GO
ALTER TABLE [dbo].[FACT_Historial] CHECK CONSTRAINT [FK_FACT_Historial_DIM_Asignatura]
GO
ALTER TABLE [dbo].[FACT_Historial]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Historial_DIM_Carrera] FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[DIM_Carrera] ([IdCarrera])
GO
ALTER TABLE [dbo].[FACT_Historial] CHECK CONSTRAINT [FK_FACT_Historial_DIM_Carrera]
GO
ALTER TABLE [dbo].[FACT_Historial]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Historial_DIM_Docente] FOREIGN KEY([IdDocente])
REFERENCES [dbo].[DIM_Docente] ([IdDocente])
GO
ALTER TABLE [dbo].[FACT_Historial] CHECK CONSTRAINT [FK_FACT_Historial_DIM_Docente]
GO
ALTER TABLE [dbo].[FACT_Historial]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Historial_DIM_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[DIM_Estudiante] ([IdEstudiante])
GO
ALTER TABLE [dbo].[FACT_Historial] CHECK CONSTRAINT [FK_FACT_Historial_DIM_Estudiante]
GO
ALTER TABLE [dbo].[FACT_Historial]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Historial_DIM_Grupos] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[DIM_Grupos] ([IdGrupo])
GO
ALTER TABLE [dbo].[FACT_Historial] CHECK CONSTRAINT [FK_FACT_Historial_DIM_Grupos]
GO
USE [master]
GO
