body{
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 200px calc(100% - 200px);
    font-family: Arial;
}
.header {
    background-color: #08383e;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.5);
}
.nav1 {
    background-color: #fff;
    color: #808080;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
}
.AppAside {
    background-color: #05555f;
}
.nav2 {
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.nav2 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
    .nav2 a:hover {
        color: #cfcdcd;      
    }
.AppMain {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*modales*/
.ModalContent {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    transition: all linear 1s;
    box-shadow: 0 0px 1px 0px #000;
    z-index: 200 !important;
    overflow-y: auto;
    padding-bottom: 50px;
}
.ContainerForm {
    display: block;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    width: 70%;
    max-height: 800px;
    overflow-y: auto;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
    position: relative;
}