@page
@model PROYECTO_UI.Pages.Catalogos.CatManageModel
@{

}

<div class="FrmContainer">
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="number" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="date" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
</div>
<div class="FrmContainer">
    <div>
        <input class="BTN BTNOk2" type="button" id="" value="Propiedad..." />
    </div>
    <div>
        <input class="BTN BTNCancel" type="button" id="" value="Propiedad..." />
    </div>
</div>
<table class="FrmTable">
    <thead>
        <tr>
            <th>Title 1</th>
            <th>Title 2</th>
            <th>Title 3</th>
            <th>Title 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
        </tr>
        <tr>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
        </tr>
        <tr>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
        </tr>
    </tbody>
</table>